<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adBoardListCount">
		SELECT COUNT(*) adCount
		  FROM BOARD
		 WHERE BOARD_STATUS = 'Y'
	</entry>
	<entry key="selectBoardList">
		SELECT *
	      FROM (
	            SELECT ROWNUM RNUM
	                 , A.*
	              FROM (
	                    SELECT BOARD_NO
	                         , BOARD_TYPE
	                         , LOCATION
	                         , BOARD_TITLE
	                         , BOARD_DATE
	                         , BOARD_COUNT
	                      FROM BOARD
	                     WHERE BOARD_STATUS = 'Y'
	                     ORDER 
	                        BY BOARD_NO DESC
	                     )A
	          )
	     WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="insertAdBoard">
		  INSERT 
			into BOARD
			(
			      BOARD_NO
			    , BOARD_TYPE
			    , LOCATION
			    , BOARD_TITLE
			    , BOARD_CONTNET
			    , USER_NO
			) values(
			    SEQ_BOARDNO.NEXTVAL
			    , 
			    ?, 
			    ?, 
			    ?, 
			    ?,
			    ?
			)
	</entry>
	<entry key="plusCount">
		UPDATE 
		       BOARD
		   SET BOARD_COUNT = BOARD_COUNT + 1
		 WHERE BOARD_NO = ?
		   AND BOARD_STATUS = 'Y'
	</entry>
	<entry key="boardDetail">
		SELECT BOARD_NO
		     , BOARD_TYPE
		     , BOARD_TITLE
		     , BOARD_CONTNET
		     , BOARD_DATE
		     , BOARD_COUNT
		     , USER_NO
		  FROM BOARD
		 WHERE BOARD_STATUS = 'Y'
		   AND BOARD_NO = ?
	</entry>
	<entry key="eventResultCountByGenre">
		SELECT COUNT(*) countByGenre
		  FROM EVENT_RAFFLE
		  JOIN EVENT USING(EVENT_NO)
		 WHERE RAFFLE_STATUS = 'Y'
		   AND EVENT_TYPE = ?
	</entry>
	<entry key="selectListByGenre">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM
	             , A.*
	          FROM (
	                SELECT R.RAFFLE_NO
	                     , EVENT_NO
	                     , R.RAFFLE_TITLE
	                     , R.RAFFLE_CONTENT
	                     , R.RAFFLE_DATE
	                     , R.RAFFLE_COUNT
	                     , R.RAFFLE_STATUS
	                     , R.ADMIN_ID
	                     , E.EVENT_TYPE
	                  FROM EVENT_RAFFLE R
	                  JOIN EVENT E USING(EVENT_NO)
	                 WHERE RAFFLE_STATUS = 'Y'
	                   AND EVENT_TYPE = ?
	                 ORDER 
	                    BY RAFFLE_NO DESC
	                 )A
	      )
	 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>