<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adBoardListCount">
		SELECT COUNT(*) adCount
		  FROM BOARD
		 WHERE BOARD_STATUS = 'Y'
	</entry>
	<entry key="selectBoardList">
		SELECT *
	      FROM (
	            SELECT ROWNUM RNUM
	                 , A.*
	              FROM (
	                    SELECT BOARD_NO
	                         , BOARD_TYPE
	                         , LOCATION
	                         , BOARD_TITLE
	                         , BOARD_DATE
	                         , BOARD_COUNT
	                      FROM BOARD
	                     WHERE BOARD_STATUS = 'Y'
	                     ORDER 
	                        BY BOARD_NO DESC
	                     )A
	          )
	     WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="insertAdBoard">
		  INSERT 
			into BOARD
			(
			      BOARD_NO
			    , BOARD_TYPE
			    , LOCATION
			    , BOARD_TITLE
			    , BOARD_CONTNET
			    , USER_NO
			) values(
			    SEQ_BOARDNO.NEXTVAL
			    , 
			    ?, 
			    ?, 
			    ?, 
			    ?,
			    ?
			)
	</entry>
	<entry key="plusCount">
		UPDATE 
		       BOARD
		   SET BOARD_COUNT = BOARD_COUNT + 1
		 WHERE BOARD_NO = ?
		   AND BOARD_STATUS = 'Y'
	</entry>
	<entry key="boardDetail">
		SELECT BOARD_NO
		     , BOARD_TYPE
		     , LOCATION
		     , BOARD_TITLE
		     , BOARD_CONTNET
		     , BOARD_DATE
		     , BOARD_COUNT
		     , USER_NO
		  FROM BOARD
		 WHERE BOARD_STATUS = 'Y'
		   AND BOARD_NO = ?
	</entry>
	<entry key="adBoardCountByGenre">
	SELECT COUNT(*) countByGenre
	  FROM BOARD
	 WHERE BOARD_STATUS = 'Y'
	   AND BOARD_TYPE = ?
	</entry>
	<entry key="selectListByGenre">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM
	             , A.*
	          FROM (
	                SELECT BOARD_NO
                         , BOARD_TYPE
                         , LOCATION
                         , BOARD_TITLE
                         , BOARD_DATE
                         , BOARD_COUNT
                         , USER_NO
                      FROM BOARD
	                 WHERE BOARD_STATUS = 'Y'
	                   AND BOARD_TYPE = ?
	                 ORDER 
	                    BY BOARD_NO DESC
	                 )A
	      )
	 WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="updateBoard">
		UPDATE 
		       BOARD
		   SET BOARD_TYPE = ?,
		       LOCATION = ?,
		       BOARD_TITLE = ?,
		       BOARD_CONTNET =?
		 WHERE BOARD_NO = ?
		   AND BOARD_STATUS = 'Y'
	</entry>
</properties>