<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectConcertPayment">
  		SELECT CONTENT_NO
		     , CONTENT_TYPE
		     , CONTENT_TITLE
		     , PLACE
		     , PRICE
		     , CONTENT_CHIMG
		     , CONTENT_IMGPATH
		     , CONCERT_DATE
		     , CONCERT_MAX
		     , CONCERT_SEATS
		  FROM CONTENTS
		  JOIN CONCERT USING (CONTENT_NO)
		 WHERE CONTENT_NO = ?
</entry>
<entry key="selectExhibitionForPayment">
	SELECT CONTENT_NO
     , CONTENT_TYPE
     , CONTENT_TITLE
     , PLACE
     , PRICE
     , CONTENT_CHIMG
     , CONTENT_IMGPATH
     , EXHIBITION_START
     , EXHIBITION_END
  FROM CONTENTS
  JOIN EXHIBITON USING (CONTENT_NO)
 WHERE CONTENT_NO = ?
</entry>
<entry key="insertExPayment">
	Insert 
	  into RESERVATION_PAYMENT
	      (TICKET_NO            --있음
	     , RESERVATION_DATE     --있음
	     , VIEW_DATE            --hidden으로가자
	     , TICKET_NUM           --select name값으로추출
	     , CONTENT_TYPE         --hidden
	     , USER_NO              --세션에서넘기기
	     , CONTENT_NO           --hidden
	     , PAYMENT_DATE         --제이쿼리 조건처리해서 hidden
	     , PAYMENT_TYPE         --input name값으로 추출
	     , PAYMENT_TOTAL        --제이쿼리에서 넘기기(id값이용)
	     )
	     VALUES
	     (
	      SEQ_RESERVATION_PNO.NEXTVAL
	     , SYSDATE
	     , ?
	     , ?
	     , ?
	     , ?
	     , ?
	     , ?
	     , ?
	     , ?
	     )
</entry>
<entry key="selectPlayForPayment">
SELECT CONTENT_NO
     , CONTENT_TYPE     --전시
     , CONTENT_TITLE    --타이틀
     , PLACE            --장소
     , PRICE            --가격(스트링..)
     , CONTENT_CHIMG        --이미지이름
     , CONTENT_IMGPATH      --이미지패스
     , PLAY_START     --연극시작일
     , PLAY_END       --연극끝나는날
     , ROUND_Count      --회차
     , ROUND_START   --시작시간
     , ROUND_MAX     --전석
     , (ROUND_MAX - ROUND_SEATS) AS ROUNDSEAT   --잔여석
  FROM CONTENTS
  JOIN PLAY USING (CONTENT_NO)
  JOIN ROUND USING (CONTENT_NO)
 WHERE CONTENT_NO = ?
   AND ROUND_DATE = ?
   AND ROUND_COUNT = ?
</entry>
</properties>