<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) exhibitionListCount
		  FROM CONTENTS
		 WHERE CONTENT_TYPE = '전시'
		   AND CONTENT_STATUS = 'Y'
	</entry>
	<entry key="selectList">
		 SELECT *
		   FROM (
		         SELECT ROWNUM RNUM
		              , E.*
		           FROM (
		                 SELECT
		                       CONTENT_NO  			--등록번호
		                     , CONTENT_TITLE 		--작품제목
		                     , CONTENT_KEYWORD 		--키워드
		                     , REGION 				--지역
		                     , CONTENT_CHIMG 		--이미지수정
		                     , CONTENT_IMGPATH 		--파일경로
		                     , EXHIBITION_START
		                     , EXHIBITION_END
		                  FROM CONTENTS
		                  JOIN EXHIBITON USING (CONTENT_NO)
		                 WHERE CONTENT_STATUS = 'Y'
		                 ORDER
		                    BY CONTENT_NO DESC
		                )E
		        )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="exhibitionDetailView">
	SELECT CONTENT_NO
	     , CONTENT_TYPE
	     , CONTENT_TITLE
	     , CONTENT_SUBJECT
	     , PLACE
	     , LIMIT
	     , PRICE
	     , CONTENT_KEYWORD
	     , LATITUDE
	     , LONGITUDE
	     , REGION
	     , CONTENT_CHIMG
	     , CONTENT_IMGPATH
	     , EXHIBITION_START
	     , EXHIBITION_END
	  FROM CONTENTS
	  JOIN EXHIBITON USING (CONTENT_NO)
	 WHERE CONTENT_NO = ?
	   AND CONTENT_STATUS = 'Y'
	</entry>
	<entry key="exhibitionInfo">
		SELECT INFO
		  FROM CONTENTS
		 WHERE CONTENT_NO = ?
		   AND CONTENT_STATUS = 'Y'
	</entry>
	<entry key="selectLocalList">
SELECT *
       FROM (
             SELECT ROWNUM RNUM
                  , E.*
               FROM (
                     SELECT
                           CONTENT_NO  			--등록번호
                         , CONTENT_TITLE 		--작품제목
                         , CONTENT_KEYWORD 		--키워드
                         , REGION 				--지역
                         , CONTENT_CHIMG 		--이미지수정
                         , CONTENT_IMGPATH 		--파일경로
                         , EXHIBITION_START
                         , EXHIBITION_END
                      FROM CONTENTS
                      JOIN EXHIBITON USING (CONTENT_NO)
                     WHERE CONTENT_STATUS = 'Y'
                       AND CONTENT_TYPE = '전시'
                       AND REGION = ?
                     ORDER
                        BY CONTENT_NO DESC
                    )E
            )
      WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="updateWish">
		INSERT 
		  INTO WISHLIST
		     (
		      WISH_NO
		    , CONTENT_NO
		    , USER_NO
		) values(
		    SEQ_WISHLISTNO.nextval
		    , ?
		    , ?
		)
	</entry>
	<entry key="likeImgCheck">
	SELECT COUNT(*) AS ALREADYLIKED
	  FROM WISHLIST
	 WHERE CONTENT_NO = ?
	   AND USER_NO = ?
	</entry>
	<entry key="deleteWish">
	DELETE 
	  FROM WISHLIST
	 WHERE CONTENT_NO = ?
	   AND USER_NO = ?
	</entry>
</properties>