<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) playListCount
		  FROM CONTENTS
		  JOIN PLAY
		 USING (CONTENT_NO)
		 WHERE CONTENT_TYPE = '연극'
	</entry>
	<entry key="selectList">
	 SELECT *
	   FROM (
	         SELECT ROWNUM RNUM
	              , CC.*
	           FROM ( 
	                    SELECT
	                           CONTENT_NO  --등록번호
	                         , CONTENT_TITLE --작품제목
	                         , CONTENT_KEYWORD --키워드
	                         , REGION --지역
	                         , CONTENT_CHIMG --이미지수정
	                         , CONTENT_IMGPATH --파일경로
	                         , CONCERT_DATE --콘서트일자
	                      FROM CONTENTS
	                      JOIN CONCERT USING (CONTENT_NO)
	                     WHERE CONTENT_TYPE = '콘서트'
	                       AND CONTENT_STATUS = 'Y'
	                     ORDER
	                        BY CONTENT_NO DESC --최신 컨텐츠부터
	                ) CC
	        )
	 WHERE RNUM BETWEEN ? AND ? 
	</entry>
</properties>