<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMemberListCount">
		SELECT
		       COUNT(*)
		  FROM MEMBER
	</entry>
	<entry key="selectMemberCount">
		SELECT
		       COUNT(*)
		  FROM MEMBER
		  WHERE ? LIKE ?
	</entry>
	<entry key="selectMemberList">
		SELECT B.*
		  FROM (
		          SELECT 
		              ROWNUM RNUM
		            , A.*
		          FROM (
		                SELECT 
		                    USER_NO 
		                  , USER_ID
		                  , USER_PWD
		                  , USER_NAME
		                  , EMAIL
		                  , PHONE
		                  , BIRTHDATE
		                  , GENDER
		                  , DELETE_DATE
		                  , DELETE_STATUS
		                  , BLACKLIST_STATUS
		                  , REPORT_COUNT
		                  , DELETE_REASON
		              FROM MEMBER
		              )A
		        )B
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectMemberUserId">
		SELECT B.*
		  FROM (
		          SELECT 
		              ROWNUM RNUM
		            , A.*
		          FROM (
		                SELECT 
		                    USER_NO 
		                  , USER_ID
		                  , USER_PWD
		                  , USER_NAME
		                  , EMAIL
		                  , PHONE
		                  , BIRTHDATE
		                  , GENDER
		                  , DELETE_DATE
		                  , DELETE_STATUS
		                  , BLACKLIST_STATUS
		                  , REPORT_COUNT
		                  , DELETE_REASON
		              FROM MEMBER
                      WHERE USER_ID LIKE ?
		              )A
		        )B
             WHERE RNUM BETWEEN ? AND ?
	</entry>
		<entry key="selectMemberUserName">
		SELECT B.*
		  FROM (
		          SELECT 
		              ROWNUM RNUM
		            , A.*
		          FROM (
		                SELECT 
		                    USER_NO 
		                  , USER_ID
		                  , USER_PWD
		                  , USER_NAME
		                  , EMAIL
		                  , PHONE
		                  , BIRTHDATE
		                  , GENDER
		                  , DELETE_DATE
		                  , DELETE_STATUS
		                  , BLACKLIST_STATUS
		                  , REPORT_COUNT
		                  , DELETE_REASON
		              FROM MEMBER
                      WHERE USER_NAME LIKE ? 
		              )A
		        )B
             WHERE RNUM BETWEEN ? AND ?
	</entry>
		<entry key="selectMemberPhone">
		SELECT B.*
		  FROM (
		          SELECT 
		              ROWNUM RNUM
		            , A.*
		          FROM (
		                SELECT 
		                    USER_NO 
		                  , USER_ID
		                  , USER_PWD
		                  , USER_NAME
		                  , EMAIL
		                  , PHONE
		                  , BIRTHDATE
		                  , GENDER
		                  , DELETE_DATE
		                  , DELETE_STATUS
		                  , BLACKLIST_STATUS
		                  , REPORT_COUNT
		                  , DELETE_REASON
		              FROM MEMBER
                      WHERE PHONE LIKE ? 
		              )A
		        )B
             WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMemberDetail">
		SELECT 
		        USER_NO 
		      , USER_ID
		      , USER_PWD
		      , USER_NAME
		      , EMAIL
		      , PHONE
		      , BIRTHDATE
		      , GENDER
		      , DELETE_DATE
		      , DELETE_STATUS
		      , BLACKLIST_STATUS
		      , REPORT_COUNT
		      , DELETE_REASON
		  FROM MEMBER
		  WHERE USER_NO = ? 
	</entry>
	
	<entry key="selectBlacklistListCount">
		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE BLACKLIST_STATUS = 'Y'
	</entry>
	
	<entry key="selectBlacklistList">
		SELECT B.*
		  FROM (SELECT ROWNUM RNUM
				     , A.*
				  FROM (SELECT 
				        USER_NO 
				      , USER_ID
				      , USER_PWD
				      , USER_NAME
				      , EMAIL
				      , PHONE
				      , BIRTHDATE
				      , GENDER
				      , DELETE_DATE
				      , DELETE_STATUS
				      , BLACKLIST_STATUS
				      , REPORT_COUNT
				      , DELETE_REASON
				  FROM MEMBER
				 WHERE BLACKLIST_STATUS = 'Y') A) B
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectReportList">
		SELECT REPORT_NO
		     , REPORT_DATE
		     , USER_NAME
		     , REPORT_TYPE
		     , REPORT_CONTENT
		  FROM REPORT
		  JOIN MEMBER ON (REPORTER = USER_NO)
		 WHERE TROUBLEMAKER = ?
	</entry>
	
	<entry key="blacklistUnlock">
		UPDATE MEMBER
		   SET BLACKLIST_STATUS = 'N'
		 WHERE USER_NO = ?
		   AND BLACKLIST_STATUS='Y'
	</entry>
</properties>
