<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="reviewListCount">
		SELECT COUNT(*) resultCount
		  FROM REVIEW
		 WHERE REVIEW_STATUS = 'Y'
	</entry>
	<entry key="selectReviewList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT REVIEW_NO
						     , USER_NO
						     , CONTENT_NO
						     , CONTENT_TYPE
						     , REVIEW_TITLE
						     , REVIEW_POINT
						     , REVIEW_DATE
						     , REVIEW_COUNT
						  FROM REVIEW
						  JOIN CONTENTS USING (CONTENT_NO)
						 WHERE REVIEW_STATUS = 'Y'
						 ORDER 
						    BY REVIEW_NO DESC
		                 )A
		      )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="plusCount">
		UPDATE 
		       EVENT_RAFFLE
		   SET RAFFLE_COUNT = RAFFLE_COUNT + 1
		 WHERE RAFFLE_NO = ?
		   AND RAFFLE_STATUS = 'Y'
	</entry>
	<entry key="raffleDetail">
			SELECT 
                   R.RAFFLE_TITLE
                 , R.RAFFLE_CONTENT
                 , R.RAFFLE_DATE
                 , R.RAFFLE_COUNT
                 , E.EVENT_TYPE
              FROM EVENT_RAFFLE R
              JOIN EVENT E USING(EVENT_NO)
             WHERE RAFFLE_STATUS = 'Y'
               AND RAFFLE_NO = ?
	</entry>
	<entry key="reviewCountByGenre">
			SELECT COUNT(*) countByGenre
			  FROM REVIEW
			  JOIN CONTENTS USING(CONTENT_NO)
			 WHERE REVIEW_STATUS = 'Y'
			   AND CONTENT_TYPE = ?
	</entry>
	<entry key="selectListByGenre">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM
	             , A.*
	          FROM (
	                SELECT REVIEW_NO
					     , USER_NO
					     , CONTENT_NO
					     , CONTENT_TYPE
					     , REVIEW_TITLE
					     , REVIEW_POINT
					     , REVIEW_DATE
					     , REVIEW_COUNT
					  FROM REVIEW
					  JOIN CONTENTS USING (CONTENT_NO)
					 WHERE REVIEW_STATUS = 'Y'
					   AND CONTENT_TYPE = ?
					 ORDER 
					    BY REVIEW_NO DESC
	                 )A
	      )
	 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>