<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="reviewListCount">
		SELECT COUNT(*) resultCount
		  FROM REVIEW
		 WHERE REVIEW_STATUS = 'Y'
	</entry>
	<entry key="selectReviewList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT REVIEW_NO
						     , USER_NO
						     , CONTENT_NO
						     , CONTENT_TYPE
						     , REVIEW_TITLE
						     , REVIEW_POINT
						     , REVIEW_DATE
						     , REVIEW_COUNT
						  FROM REVIEW
						  JOIN CONTENTS USING (CONTENT_NO)
						 WHERE REVIEW_STATUS = 'Y'
						 ORDER 
						    BY REVIEW_NO DESC
		                 )A
		      )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="plusCount">
		UPDATE 
		       REVIEW
		   SET REVIEW_COUNT = REVIEW_COUNT + 1
		 WHERE REVIEW_NO = ?
		   AND REVIEW_STATUS = 'Y'
	</entry>
	<entry key="reviewDetail">
		SELECT REVIEW_NO
		     , USER_NO
		     , CONTENT_NO
		     , CONTENT_TYPE
		     , REVIEW_TITLE
		     , REVIEW_CONTENT
		     , REVIEW_POINT
		     , REVIEW_DATE
		     , REVIEW_COUNT
		     , USER_ID
		  FROM REVIEW
		  JOIN CONTENTS USING (CONTENT_NO)
		  JOIN MEMBER USING (USER_NO)
		 WHERE REVIEW_STATUS = 'Y'
               AND REVIEW_NO = ?
	</entry>
	<entry key="reviewCountByGenre">
			SELECT COUNT(*) countByGenre
			  FROM REVIEW
			  JOIN CONTENTS USING(CONTENT_NO)
			 WHERE REVIEW_STATUS = 'Y'
			   AND CONTENT_TYPE = ?
	</entry>
	<entry key="selectListByGenre">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM
	             , A.*
	          FROM (
	                SELECT REVIEW_NO
					     , USER_NO
					     , CONTENT_NO
					     , CONTENT_TYPE
					     , REVIEW_TITLE
					     , REVIEW_POINT
					     , REVIEW_DATE
					     , REVIEW_COUNT
					  FROM REVIEW
					  JOIN CONTENTS USING (CONTENT_NO)
					 WHERE REVIEW_STATUS = 'Y'
					   AND CONTENT_TYPE = ?
					 ORDER 
					    BY REVIEW_NO DESC
	                 )A
	      )
	 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>