<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectReservationListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
          SELECT 
	               RP.TICKET_NO
	             , RP.USER_NO
	             , RP.CONTENT_NO
	             , RP.RESERVATION_DATE
	             , C.CONTENT_TITLE
	             , RP.TICKET_NUM
	             , RP.VIEW_DATE
	             , RP.PAYMENT_TYPE
	             , RP.PAYMENT_STATUS
	             , RP.PAYMENT_CANCEL
	         FROM  RESERVATION_PAYMENT RP
	        INNER  JOIN CONTENTS C
	           ON  RP.CONTENT_NO = C.CONTENT_NO
	        WHERE  USER_NO = ?
    )
</entry>

<entry key="selectReservationList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		         SELECT 
			               RP.TICKET_NO
			             , RP.USER_NO
			             , RP.CONTENT_NO
			             , RP.RESERVATION_DATE
			             , C.CONTENT_TITLE
			             , RP.TICKET_NUM
			             , RP.VIEW_DATE
			             , RP.PAYMENT_TYPE
			             , RP.PAYMENT_STATUS
			             , RP.PAYMENT_CANCEL
			         FROM  RESERVATION_PAYMENT RP
			        INNER  JOIN CONTENTS C
			           ON  RP.CONTENT_NO = C.CONTENT_NO
			        WHERE  USER_NO = ?
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReservationContnetCount"> 
SELECT COUNT(*) LISTVIEW 
 FROM(
           SELECT 
	               RP.TICKET_NO
	             , RP.USER_NO
	             , RP.CONTENT_NO
	             , RP.RESERVATION_DATE
	             , C.CONTENT_TITLE
	             , RP.VIEW_DATE
	             , RP.PAYMENT_TYPE
	             , RP.PAYMENT_STATUS
	             , RP.PAYMENT_CANCEL
	         FROM  RESERVATION_PAYMENT RP
	        INNER  JOIN CONTENTS C
	           ON  RP.CONTENT_NO = C.CONTENT_NO
	        WHERE  RP.USER_NO = ?
	          AND  C.CONTENT_TYPE = ?
    )
</entry>

<entry key="selectReservationContnetList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		          SELECT 
			               RP.TICKET_NO
			             , RP.USER_NO
			             , RP.CONTENT_NO
			             , RP.RESERVATION_DATE
			             , C.CONTENT_TITLE
			             , RP.TICKET_NUM
			             , RP.VIEW_DATE
			             , RP.PAYMENT_TYPE
			             , RP.PAYMENT_STATUS
			             , RP.PAYMENT_CANCEL
			         FROM  RESERVATION_PAYMENT RP
			        INNER  JOIN CONTENTS C
			           ON  RP.CONTENT_NO = C.CONTENT_NO
			        WHERE  RP.USER_NO = ?
			          AND  C.CONTENT_TYPE = ?
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReservationDetail">
  SELECT
              RP.TICKET_NO
            , C.CONTENT_TITLE
            , RP.VIEW_DATE
            , RP.VIEW_DATE -3 VIEW_DATE_CANCEL
            , C.PLACE
            , M.USER_NAME
            , RP.PAYMENT_DATE
            , RP.RESERVATION_DATE
            , RP.PAYMENT_TYPE
            , RP.PAYMENT_TOTAL
            , RP.TICKET_NUM
            , RP.PAYMENT_CANCEL
         FROM RESERVATION_PAYMENT RP
        INNER JOIN CONTENTS C
           ON RP.CONTENT_NO = C.CONTENT_NO
        INNER JOIN MEMBER M
           ON RP.USER_NO = M.USER_NO
        WHERE RP.TICKET_NO = ?
          AND RP.USER_NO = ?
          AND RP.PAYMENT_CANCEL = 'N'
</entry>

<entry key="selectShowListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
         SELECT 
                RP.TICKET_NO
             ,  RP.CONTENT_TYPE
             ,  RP.VIEW_DATE
             ,  C.CONTENT_TITLE
             ,  RP.USER_NO
             ,  RP.CONTENT_NO
          FROM  RESERVATION_PAYMENT RP
         INNER  JOIN  MEMBER M
            ON  M.USER_NO = RP.USER_NO
         INNER  JOIN CONTENTS C
            ON  RP.CONTENT_NO = C.CONTENT_NO
               INNER  JOIN REVIEW R
                  ON  RP.TICKET_NO = R.TICKET_NO
         WHERE  RP.USER_NO = 1
           AND  RP.PAYMENT_STATUS = 'Y'
           AND  RP.PAYMENT_CANCEL = 'N'
           AND  R.REVIEW_STATUS = 'N'
    )
</entry>

<entry key="selectShowList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		         SELECT 
		                RP.TICKET_NO
		             ,  RP.CONTENT_TYPE
		             ,  RP.VIEW_DATE
		             ,  C.CONTENT_TITLE
		             ,  RP.USER_NO
		             ,  RP.CONTENT_NO
		          FROM  RESERVATION_PAYMENT RP
		         INNER  JOIN  MEMBER M
		            ON  M.USER_NO = RP.USER_NO
		         INNER  JOIN CONTENTS C
		            ON  RP.CONTENT_NO = C.CONTENT_NO
                 INNER  JOIN REVIEW R
                    ON  RP.TICKET_NO = R.TICKET_NO
		         WHERE  RP.USER_NO = 1
		           AND  RP.PAYMENT_STATUS = 'Y'
		           AND  RP.PAYMENT_CANCEL = 'N'
                   AND  R.REVIEW_STATUS = 'N'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectShowContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT 
               R.TICKET_NO
            ,  R.CONTENT_TYPE
            ,  R.VIEW_DATE
            ,  C.CONTENT_TITLE
            ,  R.CONTENT_NO
            ,  R.USER_NO
         FROM  RESERVATION_PAYMENT R
        INNER  JOIN MEMBER M
           ON  M.USER_NO = R.TICKET_NO
        INNER  JOIN CONTENTS C
           ON  R.CONTENT_NO = C.CONTENT_NO
        INNER  JOIN REVIEW R
           ON  RP.TICKET_NO = R.TICKET_NO
        WHERE  R.USER_NO = ?
          AND  R.CONTENT_TYPE= ?
          AND  R.PAYMENT_STATUS = 'Y'
          AND  R.PAYMENT_CANCEL = 'N'
          AND  R.REVIEW_STATUS = 'N'
    )
</entry>

<entry key="selectShowContnetList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
				 SELECT 
			               R.TICKET_NO
			            ,  R.CONTENT_TYPE
			            ,  R.VIEW_DATE
			            ,  C.CONTENT_TITLE
			            ,  R.CONTENT_NO
			            ,  R.USER_NO
			         FROM  RESERVATION_PAYMENT R
			        INNER  JOIN MEMBER M
			           ON  M.USER_NO = R.TICKET_NO
			        INNER  JOIN CONTENTS C
			           ON  R.CONTENT_NO = C.CONTENT_NO
			        INNER  JOIN REVIEW R
			           ON  RP.TICKET_NO = R.TICKET_NO
			        WHERE  R.USER_NO = ?
			          AND  R.CONTENT_TYPE= ?
			          AND  R.PAYMENT_STATUS = 'Y'
			          AND  R.PAYMENT_CANCEL = 'N'
			          AND  R.REVIEW_STATUS = 'N'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewWrite">
SELECT 
         C.CONTENT_TYPE
      ,  C.CONTENT_TITLE
      ,  RP.VIEW_DATE
      ,  RP.TICKET_NO
      ,  C.CONTENT_NO
      ,  RP.USER_NO
   FROM  RESERVATION_PAYMENT RP
  INNER  JOIN  CONTENTS C
     ON  C.CONTENT_NO = RP.USER_NO
   WHERE RP.TICKET_NO = ?
     AND RP.CONTENT_NO = ?
     AND RP.USER_NO = ?
</entry>

<entry key="reviewInsert">
 INSERT 
      INTO REVIEW
         (
            REVIEW_NO
          , REVIEW_POINT 
          , REVIEW_TITLE 
          , REVIEW_CONTENT 
          , USER_NO
          , CONTENT_NO
          , TICKET_NO
         )
     VALUES
          ( 
            SEQ_REVIEWNO.NEXTVAL
          , ?
          , ?
          , ?
          , ?
          , ?
          , ?
          )
</entry>

<entry key="selectReviewListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
       SELECT   R.USER_NO
             ,  R.REVIEW_NO
             ,  C.CONTENT_TITLE
             ,  R.REVIEW_TITLE
             ,  R.REVIEW_DATE
          FROM  REVIEW R
         INNER  JOIN MEMBER M
            ON  R.REVIEW_NO = M.USER_NO
         INNER  JOIN CONTENTS C
            ON  R.CONTENT_NO = C.CONTENT_NO
         WHERE  R.USER_NO = ?
           AND  R.REVIEW_STATUS = 'Y'
    )
</entry>

<entry key="selectReviewList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
	           SELECT   R.USER_NO
                     ,  R.REVIEW_NO
                     ,  C.CONTENT_TITLE
                     ,  R.REVIEW_TITLE
                     ,  R.REVIEW_DATE
                  FROM  REVIEW R
                 INNER  JOIN MEMBER M
                    ON  R.REVIEW_NO = M.USER_NO
                 INNER  JOIN CONTENTS C
                    ON  R.CONTENT_NO = C.CONTENT_NO
                 WHERE  R.USER_NO = ?
                   AND  R.REVIEW_STATUS = 'Y'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
       SELECT   R.USER_NO
             ,  R.REVIEW_NO
             ,  C.CONTENT_TITLE
             ,  R.REVIEW_TITLE
             ,  R.REVIEW_DATE
          FROM  REVIEW R
         INNER  JOIN MEMBER M
            ON  R.REVIEW_NO = M.USER_NO
         INNER  JOIN CONTENTS C
            ON  R.CONTENT_NO = C.CONTENT_NO
         WHERE  R.USER_NO = ?
           AND  C.CONTENT_TYPE = ?
           AND  R.REVIEW_STATUS = 'Y'
    )
</entry>

<entry key="selectReviewContnetList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		       SELECT   R.USER_NO
		             ,  R.REVIEW_NO
		             ,  C.CONTENT_TITLE
		             ,  R.REVIEW_TITLE
		             ,  R.REVIEW_DATE
		          FROM  REVIEW R
		         INNER  JOIN MEMBER M
		            ON  R.REVIEW_NO = M.USER_NO
		         INNER  JOIN CONTENTS C
		            ON  R.CONTENT_NO = C.CONTENT_NO
		         WHERE  R.USER_NO = ?
		           AND  C.CONTENT_TYPE = ?
		           AND  R.REVIEW_STATUS = 'Y'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewDetail">
SELECT 
           R.USER_NO
         , R.REVIEW_NO
         , C.CONTENT_TYPE
         , C.CONTENT_TITLE
         , RP.VIEW_DATE
         , R.REVIEW_DATE
         , R.REVIEW_POINT
         , R.REVIEW_TITLE
         , R.REVIEW_CONTENT
      FROM REVIEW R
     INNER JOIN MEMBER M
        ON M.USER_NO = R.USER_NO
     INNER JOIN CONTENTS C
        ON R.CONTENT_NO = C.CONTENT_NO
     INNER JOIN RESERVATION_PAYMENT RP
        ON R.TICKET_NO = RP.TICKET_NO
     WHERE R.REVIEW_NO = ?
       AND R.REVIEW_STATUS = 'Y'
</entry>

<entry key="reviewUpdate">
    UPDATE REVIEW
       SET REVIEW_POINT = ?
         , REVIEW_TITLE = ?
         , REVIEW_CONTENT = ?
     WHERE REVIEW_NO = ?
       AND USER_NO = ?
       AND REVIEW_STATUS = 'Y'
</entry>

<entry key="selectAdboardListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT  B.USER_NO
		      , B.BOARD_NO
		      , B.BOARD_TITLE
		      , B.BOARD_TYPE
		      , B.BOARD_DATE
		  FROM  BOARD B 
		 WHERE  B.USER_NO = ?
		   AND  B.BOARD_STATUS = 'Y'
    )
</entry>

<entry key="selectAdboardList">
 SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		        SELECT  B.USER_NO
 				      , B.BOARD_NO
				      , B.BOARD_TITLE
				      , B.BOARD_TYPE
				      , B.BOARD_DATE
				  FROM  BOARD B 
				 WHERE  B.USER_NO = ?
				   AND  B.BOARD_STATUS = 'Y'
			 )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectAdboardContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT  
		        B.BOARD_NO 
		      , B.BOARD_TITLE
		      , B.BOARD_TYPE
		      , B.BOARD_DATE
		  FROM  BOARD B
		 WHERE  B.USER_NO = ?
		   AND  B.BOARD_TYPE = ?
    )
</entry>

<entry key="selectAdboardContentList">
 SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		        SELECT 
				        B.BOARD_NO
				      , B.BOARD_TITLE
				      , B.BOARD_TYPE
				      , B.BOARD_DATE
				  FROM  BOARD B
				 WHERE  B.USER_NO = ?
				   AND  B.BOARD_TYPE = ?
			 )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectAdboardDetail">
SELECT USER_NO
     , BOARD_NO
     , BOARD_TYPE
     , LOCATION
     , BOARD_DATE
     , BOARD_TITLE
     , BOARD_CONTNET
  FROM BOARD
 WHERE BOARD_NO = ?
   AND BOARD_STATUS = 'Y'
</entry>

<entry key="adBoardUpdate">
    UPDATE BOARD 
       SET BOARD_TYPE = ?
         , LOCATION = ?
         , BOARD_TITLE = ?
         , BOARD_CONTNET = ?
     WHERE BOARD_NO = ?
       AND BOARD_STATUS = 'Y'
</entry>

























</properties>