<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectShowListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT 
                M.USER_ID
             ,  R.TICKET_NO
             ,  R.CONTENT_TYPE
             ,  R.VIEW_DATE
             ,  C.CONTENT_TITLE
          FROM  MEMBER M
         INNER  JOIN RESERVATION_PAYMENT R
            ON  M.USER_NO = R.USER_NO
         INNER  JOIN CONTENTS C
            ON  R.CONTENT_NO = C.CONTENT_NO
         WHERE  M.USER_ID = ?
           AND  R.PAYMENT_STATUS = 'Y'
           AND  R.PAYMENT_CANCEL = 'N'
    )
</entry>

<entry key="selectShowList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		        SELECT 
		                M.USER_ID
		             ,  R.TICKET_NO
		             ,  R.CONTENT_TYPE
		             ,  R.VIEW_DATE
		             ,  C.CONTENT_TITLE
		          FROM  MEMBER M
		         INNER  JOIN RESERVATION_PAYMENT R
		            ON  M.USER_NO = R.TICKET_NO
		         INNER  JOIN CONTENTS C
		            ON  R.CONTENT_NO = C.CONTENT_NO
		         WHERE  M.USER_ID = ?
		           AND  R.PAYMENT_STATUS = 'Y'
		           AND  R.PAYMENT_CANCEL = 'N'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectShowContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
                SELECT 
                        M.USER_ID
                     ,  R.TICKET_NO
                     ,  R.CONTENT_TYPE
                     ,  R.VIEW_DATE
                     ,  C.CONTENT_TITLE
                  FROM  MEMBER M
                 INNER  JOIN RESERVATION_PAYMENT R
                    ON  M.USER_NO = R.TICKET_NO
                 INNER  JOIN CONTENTS C
                    ON  R.CONTENT_NO = C.CONTENT_NO
                 WHERE  M.USER_ID = ?
                   AND  R.CONTENT_TYPE= ?
                   AND  R.PAYMENT_STATUS = 'Y'
                   AND  R.PAYMENT_CANCEL = 'N'
    )
</entry>

<entry key="selectShowContnetList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
                SELECT 
                        M.USER_ID
                     ,  R.TICKET_NO
                     ,  R.CONTENT_TYPE
                     ,  R.VIEW_DATE
                     ,  C.CONTENT_TITLE
                  FROM  MEMBER M
                 INNER  JOIN RESERVATION_PAYMENT R
                    ON  M.USER_NO = R.TICKET_NO
                 INNER  JOIN CONTENTS C
                    ON  R.CONTENT_NO = C.CONTENT_NO
                 WHERE  M.USER_ID = ?
                   AND  R.CONTENT_TYPE= ?
                   AND  R.PAYMENT_STATUS = 'Y'
                   AND  R.PAYMENT_CANCEL = 'N'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
       SELECT 
                R.REVIEW_NO
             ,  C.CONTENT_TITLE
             ,  R.REVIEW_TITLE
             ,  R.REVIEW_DATE
          FROM  REVIEW R
         INNER  JOIN MEMBER M
            ON  R.REVIEW_NO = M.USER_NO
         INNER  JOIN CONTENTS C
            ON  R.CONTENT_NO = C.CONTENT_NO
         WHERE  R.USER_NO = ?
           AND  R.REVIEW_STATUS = 'Y'
    )
</entry>

<entry key="selectReviewList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
	           SELECT 
                        R.REVIEW_NO
                     ,  C.CONTENT_TITLE
                     ,  R.REVIEW_TITLE
                     ,  R.REVIEW_DATE
                  FROM  REVIEW R
                 INNER  JOIN MEMBER M
                    ON  R.REVIEW_NO = M.USER_NO
                 INNER  JOIN CONTENTS C
                    ON  R.CONTENT_NO = C.CONTENT_NO
                 WHERE  R.USER_NO = ?
                   AND  R.REVIEW_STATUS = 'Y'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
       SELECT 
                R.REVIEW_NO
             ,  C.CONTENT_TITLE
             ,  R.REVIEW_TITLE
             ,  R.REVIEW_DATE
          FROM  REVIEW R
         INNER  JOIN MEMBER M
            ON  R.REVIEW_NO = M.USER_NO
         INNER  JOIN CONTENTS C
            ON  R.CONTENT_NO = C.CONTENT_NO
         WHERE  R.USER_NO = ?
           AND  C.CONTENT_TYPE = ?
           AND  R.REVIEW_STATUS = 'Y'
    )
</entry>

<entry key="selectReviewContnetList">
SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
		       SELECT 
		                R.REVIEW_NO
		             ,  C.CONTENT_TITLE
		             ,  R.REVIEW_TITLE
		             ,  R.REVIEW_DATE
		          FROM  REVIEW R
		         INNER  JOIN MEMBER M
		            ON  R.REVIEW_NO = M.USER_NO
		         INNER  JOIN CONTENTS C
		            ON  R.CONTENT_NO = C.CONTENT_NO
		         WHERE  R.USER_NO = ?
		           AND  C.CONTENT_TYPE = ?
		           AND  R.REVIEW_STATUS = 'Y'
		     )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReviewDetail">
SELECT 
           M.USER_ID
         , R.REVIEW_NO
         , C.CONTENT_TYPE
         , C.CONTENT_TITLE
         , RP.VIEW_DATE
         , R.REVIEW_DATE
         , R.REVIEW_POINT
         , R.REVIEW_TITLE
         , R.REVIEW_CONTENT
      FROM MEMBER M
     INNER JOIN REVIEW R
        ON M.USER_NO = R.USER_NO
     INNER JOIN CONTENTS C
        ON R.CONTENT_NO = C.CONTENT_NO
     INNER JOIN RESERVATION_PAYMENT RP
        ON R.TICKET_NO = RP.TICKET_NO
     WHERE R.REVIEW_NO = ?
       AND R.REVIEW_STATUS = 'Y'
</entry>

<entry key="selectAdboardListCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT 
		         M.USER_ID
		       , B.BOARD_NO
		       , B.BOARD_TITLE
		       , B.BOARD_TYPE
		       , B.BOARD_DATE
		  FROM  BOARD B 
		  JOIN  MEMBER M USING (USER_NO)
		 WHERE  M.USER_ID = ?
		   AND  B.BOARD_STATUS = 'Y'
    )
</entry>

<entry key="selectAdboardList">
 SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
	          SELECT 
			         M.USER_ID
			       , B.BOARD_NO
			       , B.BOARD_TITLE
			       , B.BOARD_TYPE
			       , B.BOARD_DATE
			   FROM  BOARD B 
			   JOIN  MEMBER M USING (USER_NO)
			   WHERE  M.USER_ID = ?
			    AND  B.BOARD_STATUS = 'Y'
			 )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectAdboardContnetCount">
SELECT COUNT(*) LISTVIEW 
 FROM(
        SELECT
		        M.USER_ID
		      , B.BOARD_NO
		      , B.BOARD_TITLE
		      , B.BOARD_TYPE
		      , B.BOARD_DATE
		  FROM  BOARD B
		  JOIN  MEMBER M USING (USER_NO)
		 WHERE  M.USER_ID = ?
		   AND  B.BOARD_TYPE = ?
    )
</entry>

<entry key="selectAdboardContentList">
 SELECT *
 FROM(
 	SELECT
 			ROWNUM RNUM
 		  , A.*
 	  FROM  (	  
        SELECT
		        M.USER_ID
		      , B.BOARD_NO
		      , B.BOARD_TITLE
		      , B.BOARD_TYPE
		      , B.BOARD_DATE
		  FROM  BOARD B
		  JOIN  MEMBER M USING (USER_NO)
		 WHERE  M.USER_ID = ?
		   AND  B.BOARD_TYPE = ?
			 )A
    	)
    WHERE RNUM BETWEEN ? AND ?
</entry>























</properties>