<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginAdmin">
		SELECT COUNT(*)
		  FROM ADMIN
		 WHERE ADMIN_ID = ?
		   AND ADMIN_PWD = ?
	</entry>
	
	<entry key="loginMember">
		SELECT 
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , EMAIL
			 , PHONE
			 , BIRTHDATE
			 , GENDER
			 , DELETE_DATE
			 , DELETE_STATUS
			 , BLACKLIST_STATUS
			 , REPORT_COUNT
			 , DELETE_REASON
		  FROM MEMBER
		 WHERE DELETE_STATUS = 'N'
		   AND USER_ID = ?
		   AND USER_PWD = ?
	</entry>
	
	<entry key="updateInfo">
	UPDATE 
		   MEMBER
	   SET USER_NAME = ?
	     , BIRTHDATE = ?
	     , GENDER = ?
	     , PHONE = ?
	     , EMAIL = ?
	 WHERE USER_ID = ?
	</entry>
	
	<entry key="updatePwd">
	 UPDATE 
	 		MEMBER
	    SET USER_PWD = ?
	  WHERE USER_ID = ?
	    AND USER_PWD = ?
	</entry>
	
	<entry key="updateDelete">
	UPDATE 
		   MEMBER
	   SET DELETE_STATUS = 'Y'
	 WHERE USER_ID = ?
	   AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectMember">
	SELECT 
		   USER_NO
		 , USER_ID
		 , USER_PWD
		 , USER_NAME
		 , EMAIL
		 , PHONE
		 , BIRTHDATE
		 , GENDER
		 , DELETE_DATE
		 , DELETE_STATUS
		 , BLACKLIST_STATUS
		 , REPORT_COUNT
		 , DELETE_REASON
	  FROM MEMBER
	 WHERE DELETE_STATUS = 'N'
	   AND USER_ID = ?
	</entry>
	
	<entry key="idCheck">
	SELECT 
	       COUNT(*)
	  FROM MEMBER
	 WHERE USER_ID = ?
	 </entry>
	 
	 <entry key="insertMember">
	 	INSERT
			INTO MEMBER
			(
			    USER_NO
			    , USER_ID
			    , USER_PWD
			    , USER_NAME
			    , EMAIL
			    , PHONE
			    , BIRTHDATE
			    , GENDER
			)
			VALUES
			(
			    SEQ_UNO.NEXTVAL
			    , ?
			    , ?
			    , ?
			    , ?
			    , ?
			    , ?
			    , ?
			)
	 </entry>
</properties>