<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="updateInfo">
UPDATE /* 회원정보수정 */
	   MEMBER
   SET USER_NAME = ?
     , BIRTHDATE = ?
     , GENDER = ?
     , PHONE = ?
     , EMAIL = ?
 WHERE USER_ID = ?
</entry>

<entry key="updatePwd">
 UPDATE /* 비밀번호수정 */
 		MEMBER
    SET 
        USER_PWD = ?
  WHERE USER_ID = ?
    AND USER_PWD = ?
</entry>

<entry key="updateDelete">
UPDATE /* 회원탈퇴 */
	   MEMBER
   SET 
       DELETE_STATUS = 'Y'
 WHERE USER_ID = ?
   AND DELETE_STATUS = 'N'
</entry>

</properties>