<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) concertListCount
		  FROM CONTENTS
		 WHERE CONTENT_TYPE = '콘서트'
		   AND CONTENT_STATUS = 'Y'
	</entry>
	<entry key="selectList">
	 SELECT *
	   FROM (
	         SELECT ROWNUM RNUM
	              , CC.*
	           FROM ( 
	                    SELECT
	                           CONTENT_NO  --등록번호
	                         , CONTENT_TITLE --작품제목
	                         , CONTENT_KEYWORD --키워드
	                         , REGION --지역
	                         , CONTENT_CHIMG --이미지수정
	                         , CONTENT_IMGPATH --파일경로
	                         , CONCERT_DATE --콘서트일자
	                      FROM CONTENTS
	                      JOIN CONCERT USING (CONTENT_NO)
	                     WHERE CONTENT_TYPE = '콘서트'
	                       AND CONTENT_STATUS = 'Y'
	                     ORDER
	                        BY CONTENT_NO DESC --최신 컨텐츠부터
	                ) CC
	        )
	 WHERE RNUM BETWEEN ? AND ? 
	</entry>
	<entry key="concertDetailView">
		SELECT 
		       CONTENT_TYPE
		     , CONTENT_TITLE
		     , CONTENT_SUBJECT
		     , PLACE
		     , LIMIT
		     , PRICE
		     , CONTENT_KEYWORD
		     , LATITUDE
		     , LONGITUDE
		     , REGION
		     , CONTENT_CHIMG
		     , CONTENT_IMGPATH
		     , CONCERT_DATE
		     , CONCERT_RUNTIME
		     , CONCERT_MAX
		     , CONCERT_SEATS
		  FROM CONTENTS
		  JOIN CONCERT USING (CONTENT_NO)
		 WHERE CONTENT_NO = ?
		   AND CONTENT_STATUS = 'Y'	
	</entry>
	<entry key="concertInfo">
		SELECT INFO
		  FROM CONTENTS
		 WHERE CONTENT_NO = ?
		   AND CONTENT_STATUS = 'Y'
	</entry>
</properties>