<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	SELECT 
	       COUNT(*) NOTICELISTCOUNT
	  FROM NOTICE
	 WHERE NOTICE_STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
	SELECT *
	  FROM (
	        SELECT
	                ROWNUM RNUM
	              , A.*
	          FROM (
	                SELECT
	                       NOTICE_NO
	                     , NOTICE_TYPE
	                     , NOTICE_TITLE
	                     , NOTICE_DATE
	                  FROM NOTICE N
	                 WHERE N.NOTICE_STATUS = 'Y'
	                 ORDER 
	                    BY NOTICE_NO DESC
	               ) A
	        )
	  WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>